body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background: rgb(19, 19, 67);
    color: white;
}
/* 
.container{
 
    height: 5%;
    margin: 5% 10% 5% 10%
}
.containerNames{
    font-family: "Pacifico";
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

/* .fondo1{
    background-image: url('./assets/901684588b9113791451deaae51bea24.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

.fondo2{
    background-image: url('./assets/e4d56a2618ad1278d69d4aee0d152c16.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 10% 0 10% 0;
} */

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.titulo{
    font-family: "Parisienne", cursive;
    /* font-family: "Playwrite HR Lijeva", cursive; */
    font-weight: 400;
}

.nombre{
    font-family: "Parisienne", cursive;
    /* font-family: "Playwrite HR Lijeva", cursive; */
    font-weight: 400;
    font-size: 100px;
    margin: 30px 0 10px;
    background: linear-gradient(316deg, #e7cf9a, #d3c29f 50%, #dfbc6b, #c39731);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.teinvito{
    font-size: 42px;
    background: linear-gradient(316deg, #e7cf9a, #cabea6 50%, #f4d792, #cba346);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 8px;
    padding: 2px;
}
.contenedorImg img{
    border-radius: 100px;
    border: solid 4px white;
}

.ampersand {
    font-size: 1.8rem; /* Tamaño más pequeño para la & */
   
}

.confirma{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    margin: 12% 8% 4% 8%;
    font-size: 1.3rem;
}
.confirmap{
    font-family: "Montserrat";
    font-weight: 300;
    margin: 0 0 6% 0;
    font-size: 1rem;

}
.divCivilFiesta{
    
    font-family: "Montserrat";
    font-weight: 500;
}
.titleCivilFiesta{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;

}
.pCivilFiesta{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.3rem;
    
}
.icons{
    width: 180px;
    height: 120px;
    margin: 15px 0 20px;
}


.margin{
    margin: 0 0 15% 0;
}
/* Estilo del modal */
.modal {
    display: none; /* El modal está oculto inicialmente */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Asegura que el modal esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Si el contenido es grande, permite desplazarse */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro transparente */
}


@media (min-width: 540px){
  
    .ampersand {
        font-size: 2rem;
    }
    .margin{
        margin: 0 0 8% 0;
    }

    
}
@media (min-width: 770px){
 

    .confirma{
        font-size: 2rem;
    }
    .confirmap{
        font-size: 1.5rem
    }
    .ampersand {
        font-size: 2rem;
    }
   
    .container2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;
    }

    .margin{
        margin: 0 0 10% 0;
    }
    .divCivilFiesta{
        margin-top:2%;
    }
}

@media (min-width: 1000px){
  
    .confirma{
        font-size: 2.5rem;
    }
    .confirmap{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .ampersand {
        font-size: 2rem;
    }
    
    .margin{
        margin: 0 0 5% 0;
    }
}

  .pregalo{
    text-align: center;
  }


  .confirma-asistencia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 0 50px;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: rgb(19, 19, 67);
  }

  .confirma-asistencia:hover {
    transform: scale(1.05);
  }
  
  .confirma-asistencia-texto{
    border: none;
    font-weight: bolder;
    color: rgb(19, 19, 67);
  }

.iframe-container {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .container {
      max-width: 600px !important;
    }
  }
  
  .btn-primary {
    background-color: #19284c;
    border-color: #19284c;
  }
  
  .flex-equal-width {
    flex: 1 1 0;
  }
  
  
  .carousel-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: 
      linear-gradient(to top, #FFF, rgba(255, 255, 255, 0.1) 40%),
      linear-gradient(to right,#FFF, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 99%, #FFF);
  }
  
  .carousel-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .carousel-item--top img {
    top: 100%;
    transform: translate(-50%, -50%);
  }
  
  .carousel-caption {
    z-index: 1;
  }
  
  @media (min-width: 768px) {
    .carousel-item {
      height: 300px;
    }
  }
  
  @media (min-width: 1200px) {
    .carousel-item {
      height: 500px;
    }
  }
  
  .content-border {
    position: relative;
  }
  
  .content-border::before,
  .content-border::after {
    content: '';
    position: absolute;
    background: url('./assets/gold-leaf-line.png');
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 50px 86px;
    left: -10px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .content-border::after {
    transform: scaleX(-1);
    left: 10px;
  }
  

  .date-container {
    max-width: 250px;
    margin: auto;
  }
  
  .date-container__text {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 8px 0;
  }
  
  .date-container__text--border::before,
  .date-container__text--border::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #fff;
  }
  
  .date-container__text--border::before {
    top: 0;
  }
  
  .date-container__text--border::after {
    bottom: 0;
  }
  
  .date-container__standout {
    display: flex;
    font-size: 60px;
    line-height: 0.5;
    align-items: center;
  }
  
  .countdown {
    border-radius: 16px;
    max-width: 350px;
    margin: auto;
    font-weight: 700;
  }
  
  .countdown-item {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    margin: 10px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(316deg, #e7cf9a, #cabea6 50%, #f4d792, #cba346);
    box-shadow: 0 0 20px -6px rgba(255, 255, 255, 0.5);
    background-size: 200%;
    background-position-x: 0%;
    animation: blink 20s ease-in-out 2s infinite;
  }
  
  @keyframes blink {
    0% {
      background-position-x: 200%;
    }
    2%, 100% {
      background-position-x: 0%
    }
  }
  
  .bubbles-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(./assets/bubbles-bg.svg);
    background-size: auto 200%;
    filter: blur(3px);
    opacity: 0.5;
    animation: bubble 40s linear infinite, opacity-test 2s linear infinite alternate-reverse;
    pointer-events: none;
  }
  
  .bubbles-bg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(./assets/bubbles-bg.svg);
    background-size: auto 200%;
    opacity: 0.3;
    filter: blur(3px);
    animation: bubble 20s linear infinite;
    pointer-events: none;
  }
  
  @keyframes section-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes opacity-test {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes bubble {
    from {
      background-position-y: 0%;
    }
    to {
      background-position-y: 200%;
    }
  }

.marginnnn {
    margin-right: 40px;
}

.linea-divisoria{
    display: block;
    width: 70%; /* Puedes ajustar esto según lo larga que quieras la línea */
    border-bottom: 2px solid white;
}

.linea-divisoria-container{
    display: flex;
    justify-content: center;
    width: 100%; /* Que ocupe todo el ancho del contenedor padre */
    margin: 2rem 0; /* Espaciado arriba y abajo opcional */
}